* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(120deg, #ffff00, rgb(67, 247, 44));
}
.container {
  background-color: purple;
  color: white;
  height: 400px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.7);
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 3rem;
}
.card-right-side > input {
  margin-bottom: 1.25rem;
  width: 200px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.116);
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
}
.card-right-side > input::placeholder {
  color: white;
  font-weight: 500;
  font-size: 16px;
}
.card-right-side > button {
  width: 200px;
  background-color: #fff;
  color: purple;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 16px;
}
.card-left-side > h2 {
  font-size: 2rem;
  font-weight: 700;
  border-right: 3px solid white;
  padding-right: 8px;
}
